﻿/* DUALSLIDER CSS */
/* AUTHOR: ROB PHILLIPS  =  HUGO & CAT LTD */
/* VERSION: 0.1 */


body {
	font:normal 62.5%/1.7em Arial, Tahoma, Helvetica, sans-serif;
	color:#807f83;
	margin:0 0 0 0;
	padding: 0;
	background: #fff;
	text-align:center;
}



a, a:visited {
    color:#ee2c74;
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}

strong {
    font-weight:bold;
}

p, blockquote{
    margin: 0 0 15px 0;
}

.wrapper {

	font-size: 1.2em;
	width: 880px;
	margin: auto;
	text-align:left
}

h1 {
	font-size: 4.0em;
	color: #000;
	margin: 50px 0 0 0;
}

h2 {
	font-size: 1.2em;
	color: #000;
	margin: 0 0 25px 0;
}

h3{
	font-size: 1.4em;
	color: #000;
	margin: 0 0 5px 0;
}

.columns {
	margin: 0 0 15px 0;

	border-bottom:1px solid #ccc;
	background: transparent url(../images/columns_bg.png) no-repeat 100% 100%;
	border-top:1px solid #ccc;
	padding: 15px 0 10px 0;
}

.columns .col{
	float:left;
	width: 210px;
	margin: 0 0 0 10px;

}

.download , a:visited.download {
	float:right;
	display:block;
	background: #000 url(../images/carousel_download_bg.gif) no-repeat 9px 0.8em;
	padding: 10px 10px 10px 35px;
	font-size: 1.1em;
	color: #fff;
	margin: 20px 20px 0 0;
	border:6px solid #eee;
}
a:hover.download {
	border-color: #ccc;
}

.download em{
	display:block;
	font-size: 0.9em;
}





.documentation {
	color: #666;

}

.documentation  p{
	margin: 0 0 0 0;
	padding: 10px 0 10px 0;
	border-bottom: 1px dotted #ccc;
}

.documentation  p.alt{
	background: #eee;
}

.documentation  strong{
	float:left;
	width: 50px;
	font-size: 1.5em;
	color: #000;
	text-align:center;
}
.documentation  span{
	float:left;
	width: 800px;
	display:block;
}


/* untuk paging */
#paging #page
{
	border:1px solid #CCC;
	margin-left:5px;
	margin-right:5px;
	padding:7px;

}

#paging #this_page
{
	border:1px solid #CCC;
	margin-left:5px;
	margin-right:5px;
	padding:7px;
	background-color:#F90;
}

#paging #page:hover
{
	border:1px solid #F00;
	margin-left:5px;
	margin-right:5px;
	padding:7px;

}

#paging #this_page:hover
{
	border:1px solid #F00;
	margin-left:5px;
	margin-right:5px;
	padding:7px;
}
